html {
    font-size: 62.5%; /*Reset para REMS - 62.5% = 10px de 16px | 1 rem = 10px  */
    box-sizing: border-box; /*Aplicar correctamente box-sizing*/
}
*, *:before, *:after { /*Aplicar correctamente box-sizing*/
    box-sizing: inherit; /*Aplicar correctamente box-sizing*/
}

body {
    font-family: 'Muli', sans-serif; /*Establecimos el tipo de fuente para todo el documento*/
    font-size: 1.6rem; /*Para establecer un tamaño estandar a todo el font-size del documento;*/
    line-height: 2; /*Interlineado*/
    background-color: #8f57fd;
    margin: 0;  
    margin-bottom: 5rem;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!- Globales -!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

img {
    max-width: 100%; /* Para ajustar las imagenes al contenedor padre*/
}

/*---------------utilidades-------------------------*/


/*------------- inputs-globales --------------------*/
input:focus { /*Para quitar el outline cuando se le hace focus al input*/
    outline: none;
}
input::placeholder { /*Para cambiar de color el placeholder de los inputs*/
    color: #ffffff;
}
input {
    color: white;
}

/*-------------- enlaces-globales ------------------*/
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


/*---------Medidas estandar para titulos------------*/
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3.2rem;
    
}
h4 {
    font-size: 2.8rem;
}

/*------------------ Global-Header -----------------*/
.header {
    width: 100%;
    height: 8rem;
    background-color: #8f57fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-img {
    width: 20rem;
    margin: 1rem auto auto 1rem;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!- bucasr.html - !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*---------------------------------------------------Header----------------------------------------------------*/
.header-menu {
    margin-top: 1rem;
    margin-right: 3rem;
}
.header-menu-profile {
    display: flex;
    margin-right: .8rem;
    align-items: center;
}
.header-menu-profile img {
    width: 4rem;
}
.header-menu-profile p {
    margin-left: 1rem;
}
.header-menu ul {
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 10rem;
    text-align: right;
    margin: 0 0 0 -2rem;
}
.header-menu:hover ul, ul:hover { /*Para que se nos muestre el menu desplegable con los <li>*/
    display: block;
}
.header-menu li {
    margin: 0;
}
.header-menu li a {
    color: #ffffff;
}


/*---------------------------------------------------Main----------------------------------------------------*/
.main {
    height: 30rem;
    display: flex;
    flex-wrap: wrap; /*Para que empujen los elementos si ocupan todo el espacio*/
    justify-content: center;
}
.main-title {
    flex-basis: 100%; /*para que el elemtno ocupe todo el width y empuje el elemento debajo*/
    color: #ffffff;
    font-size: 2.5rem;
    display: flex; /*Para ocomodar el texto dentro del h2*/
    justify-content: center; /*Acomodamos el texto al centro*/
    align-self: flex-end; /*Alineamos el texto verticalmente al final*/
}
.input {
    flex-basis: 70%; /*para que ocupe el 70% del width*/
    background-color: rgba(255, 255, 2555, 0.1);
    border: .2rem solid #ffffff;
    border-radius: 2.5rem;
    color: #ffffff;
    font-family: 'Muli', sans-serif;
    font-size: 1.6rem;
    height: 5rem;
    padding: 0 2rem;
    /* width: 70%; */
}


/*------------------------------------------------ Section .carousel -----------------------------------------------*/
.carousel {
    width: 100%;
    padding: 3rem;
    position: relative;
    overflow: scroll; /*para que se puede hacer scroll*/
}
.carousel-container {
    white-space: nowrap; /*Para que los elementos agregagados no se apilen en el contenedor*/
    margin: 7rem 0;
    padding-bottom: 1rem;
}
.carousel-item {
    display: inline-block; /*para que las cartas se posicionen al lado*/
    width: 20rem;
    height: 25rem;
    margin-right: 1rem;
    background-color: #ffffff;
    border-radius: 2rem;
    overflow: hidden; /*para esconder las esquinas de la images y se aplique el border-radius*/
    cursor: pointer; /*para que se muestre la manita que apunta*/
    /*---------para las transiciones-------------*/
    transition: 450ms; /*para que se vea el efecto de la transicion*/
    transform-origin: center left; /*acomodamos los items para cuando se realice la transicion*/
    /*--------------------------------*/
    position: relative; /*para que se tome como referencia este contenedor*/
}
.carousel-item:hover ~ .carousel-item { /*cuando hacemos hover a los items el carrousel, para que los otros item se acomoden tambien*/
    transform: translate3d(10rem, 0, 0); /*para aplicar la animacion*/
}
.carousel-container:hover .carousel-item { /*para que a los items a los cuales no se les hace hover muestren una opacidad*/
    opacity: 0.3; /*para que los items a los que no se le hace :hover muestren una opacidad*/
}
.carousel-container:hover .carousel-item:hover { /*para que al item al que se le posiciona el cursor aumente de tamaño,y haga el efecto de que esta seleccionado*/
    transform: scale(1.5); /*aumentamos su tamaño*/
    opacity: 1; /*para que se muestre sin la opacidad*/
}

/*-----Agregando elementos al carousel-item------*/
.carousel-item_img {
    width: 200px; /*establecemos el mismo width que el item*/
    height: 250px; /*establecemos el mismo height que el item*/
    object-fit: cover; /*para tratar de la imagen se vea correctamente*/
}
.carousel-item:hover .carousel-item_img { 
    background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(0,0,0,1));
}
.carousel-item_details {
    font-size: 1rem;
    opacity: 0; /*para que no se muestre...ya que se mostrara cuando se le haga :hover al item del carousel*/
    transition: 450ms; /*agregamos algo de animacion*/
    padding: 1rem;
    position: absolute; /*para posicionar los elementos dentro del carousel-item*/
    bottom: 0; /*para posicionarlos en la parte de abajo*/
}
.carousel-item_details i { /*estilizamos nuestro iconos*/
    font-size: 2rem;
    color: #34bea6;
    margin-right: .25rem;
    background-color: #ffffff;
    border-radius: 50%;
}
.carousel-item_details * { /*para seleccionar todos los hijos*/
    margin: 0;
    font-weight: bold;
}
.carousel-item:hover .carousel-item_details {
    opacity: 1; /*para que se muestre el contenido*/
    color: white;
}



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! - i-sesion.html - !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*---------------------------------------------------- Header -------------------------------------------------------*/
header.header.i-sesion {
    background-color: #21c08d;
}

/*------------------------------------------------------- Main ------------------------------------------------------*/
.login {
    background: linear-gradient(#21c08d, #ab88ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;
    min-height: calc(100vh - 20rem);
    padding: 5rem 0;
}

/*------------------------*/
.login-container {
    background-color: rgba(255, 255, 255, 0.1);
    border: .2rem solid white;
    border-radius: 4rem;
    color: white;
    padding: 6rem 6.8rem 4rem;
    min-height: 70rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*--------------------------*/
.login-container_form {
    display: flex;
    flex-direction: column;
}
.login-container_form label {
    font-size: 1.4rem;
}
.login-container_form input.i-sesion {
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: .2rem solid #ffffff;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    padding: 0 2rem 0;
    height: 5rem;
}
.login-container_form button {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 2.5rem;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    padding: 2rem;
    letter-spacing: .1rem;
    margin: 1rem 0;
}
.login-container_form button:focus {
    outline: none;
}
.login-container_form button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.login-container__remember_me {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.login-container__remember_me a {
    color: #ffffff;
    font-size: 1.4rem;
}

/*--------------------------------*/
.login-container_social {
    margin: 6rem 0;
}
.login-container_social div {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.login-container_social div * {
    display: inline-block;
    margin: 0;
}
.login-container_social div i {
    font-size: 2.5rem;
    margin-right: 1rem;
}

/*--------------------------------*/
.login-container_register {
    font-size: 1.4rem;
    margin-bottom: 4rem;
}
.login-container_register a {
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: bold;
}

/*--------------------------------------------------- Footer --------------------------------------------------------*/
footer.footer {
    position: absolute;
    height: 10rem;
    width: 100%;
    background-color: #ab88ff;
    display: flex;
    align-items: center;
}
footer.footer a {
    color: #ffffff;
    cursor: pointer;
    font-size: 1.4rem;
    padding-left: 3rem;
}



